
<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>
    <h1>Edit Student</h1>
    <form action="/edit" method="post">
        Student ID: <input type="text" name="studentId"><br>
        New Name: <input type="text" name="newName"><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
